{% extends "base.html" %}
{% block title %}Register{% endblock %}

{% block content %}

<form method="POST">
    <section class="vh-100 bg-image"
    style="background-image: url('https://wallpapercave.com/wp/wp8046576.jpg');">
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
      <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-12 col-md-9 col-lg-7 col-xl-6">
            <div class="card" style="border-radius: 15px;">
              <div class="card-body p-5">
                <h2 class="text-uppercase text-center mb-5">Create an account</h2>
  
                <form>
  
                  <div class="form-outline mb-4">
                    <input type="text" id="username" class="form-control form-control-lg" name="username" />
                    <label class="form-label" for="username">Username</label>
                  </div>
  
                  <div class="form-outline mb-4">
                    <input type="email" id="email" class="form-control form-control-lg" name="email" />
                    <label class="form-label" for="email">Email</label>
                  </div>
  
                  <div class="form-outline mb-4">
                    <input type="password" id="password1" class="form-control form-control-lg" name="password1" />
                    <label class="form-label" for="password1">Password</label>
                  </div>
  
                  <div class="form-outline mb-4">
                    <input type="password" id="password2" class="form-control form-control-lg" name="password2" />
                    <label class="form-label" for="password2">Repeat your password</label>
                  </div>
  

  
                  <div class="d-flex justify-content-center">
                    <button type="submit"
                      class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Register</button>
                  </div>
  
                  <p class="text-center text-muted mt-5 mb-0">Have an account allready? <a href="/login"
                      class="fw-bold text-body"><u>Login here</u></a></p>
  
                </form>
  
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</form>

{% endblock %}